-- The DDL syntax should change, including contraints and CLUSTERED COLUMNSTORE INDEX upon conversion to Databricks syntax
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Test.DimGeography
(
	GeographySKey int NOT NULL,
	CountryOfficeRegionNKey int NOT NULL,
	CountryNKey int NOT NULL,
	OfficeRegionName nvarchar(500) NULL,
	CountryName nvarchar(500) NULL,
	Region nvarchar(500) NULL,
	Area nvarchar(500) NULL,
	IsIFIAR9 bit NULL,
	HasOfficeRegionList bit NULL,
	HasCountryList bit NULL,
	CreateDate datetime2(7) NULL,
	CreateUserID nvarchar(100) NULL,
	ModifyDate datetime2(7) NULL,
	ModifyUserID nvarchar(100) NULL,
	Auditstatus varchar(1) NULL,
	PipelineRunId varchar(50) NULL,
	AuditCreateDate datetime2(7) NOT NULL,
	AuditModifyDate datetime2(7) NULL,
	Country2Cd nvarchar(50) NULL,
	Country3Cd nvarchar(50) NULL,
	CountryNumCd nvarchar(50) NULL,
	CountryNameISO nvarchar(250) NULL,
 CONSTRAINT PK_Test_DimGeography PRIMARY KEY NONCLUSTERED 
	(
		GeographySKey ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
