/****** Object:  StoredProcedure [EDW].[Load_EntityName]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [EDW].[Load_EntityName] @FROM [DATETIME2](7),@To [DATETIME2](7),@ExecutionStart [DATETIME2](7),@PipelineRunId [VARCHAR](50),@IsIncremental [BIT] AS
/*          
Procedure Name	: EDW.Load_EntityName
Create Date		: 2025-08-24
*/
BEGIN

SET NOCOUNT ON;

	if not exists (select * from sys.tables t join sys.schemas s on s.schema_id = t.schema_id where s.name = 'EDW' and t.name = 'EntityName_oldGIS')
		raiserror ('Missing [EDW].[EntityName_oldGIS] backup and will not proceed.  Please investigate', 16, 1)

	if 1 > (select count(*) from [EDW].[EntityName_oldGIS])
		raiserror ('[EDW].[EntityName_oldGIS] backup is EMPTY and load will not proceed.  Please investigate', 16, 1)

	else
		begin
			-- Empty the existing data for reload
			truncate table [EDW].[EntityName]

			-- EDW.EntityName
			insert into [EDW].[EntityName]
					(	EsdItemId, EDWIsDeleted, EDWLastUpdated, EntityNameWoAccentNm, EntityNm, EsdEntityNameId, FilteredEntityNm, NameTypeCd, NameTypeDesc
					,	AuditCreateDate, AuditStatus, PipelineRunId, GisVersionID)
			select		be.EntityId
					,	case when be.EDWIsDeletedInd = 1 then 'Y' else 'N' end 							-- Simple conversion 1-->Y and 0-->N
					,	be.EDWUpdatedDtm 																-- ! These dates do not match across views (Never null in Customer.vwEntity)
					,	be.EntityLegalNmTxt
					,	be.EntityLegalNmTxt
					,	-10000000
					,	upper(replace(EntityLegalNmTxt, ' ', ''))	-- May need a little more work, but this is the basic idea
					,	N'LEGAL'
					,	N'Legal Name/Official Name'
					,	GETUTCDATE()
					,	'I'
					,	@PipelineRunId
					,	gis.GisVersionID
			from		EDW.DimBusinessEntity be
			join		EDW.GisVersion gis on gis.[Name] = 'Post2022'
			where		be.EDWIsCurrentInd = 1

			-- Merge prior data that does not conflict
			insert into [EDW].[EntityName]
					(	EsdItemId, EDWIsDeleted, EDWLastUpdated, EntityNameWoAccentNm, EntityNm, EsdEntityNameId, FilteredEntityNm, NameTypeCd, NameTypeDesc
					,	AuditCreateDate, AuditModifyDate, AuditStatus, PipelineRunId, GisVersionID)
			select		en.EsdItemId
					,	en.EDWIsDeleted
					,	en.EDWLastUpdated
					,	en.EntityNameWoAccentNm
					,	en.EntityNm
					,	en.EsdEntityNameId
					,	en.FilteredEntityNm
					,	en.NameTypeCd
					,	en.NameTypeDesc
					,	en.AuditCreateDate
					,	en.AuditModifyDate
					,	en.AuditStatus
					,	en.PipelineRunId
					,	gis.GisVersionID
			from		EDW.EntityName_oldGIS en
			join		EDW.GisVersion gis on gis.[Name] = 'Pre2022'
			left join	EDW.EntityName x on x.EsdItemId = en.EsdItemId
			where		x.EsdItemId is null

		end
end
GO
